html {
  font-size: 20px;
  background-color: #dedede;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	overflow: none;
	width: 100vw;
	height: 100vh;
}
h1 {
	display: block;
	text-align: center;
	margin: auto;
	padding: none;
	font-size: 40vw;
	font-family: system-ui, sans-serif;
	font-weight: 100;
}
#btn {
	background-color: #3897f0;
	font-family: system-ui, sans-serif;
	font-weight: 700;
	border: none;
	color: white;
	padding: 1rem 2.5rem;
	text-align: center;
	text-decoration: none;
	width: 300px;
	display: block;
	border-radius: 0.25rem;
	font-size: 1.5rem;
	cursor: pointer;
	margin: 40vh auto;
	transition: transform 0.1s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	z-index: 30;
	position: absolute;
}
#btn.hover {
	background-color: #0030ff;
	color: white;
}
