html {
  font-size: 20px;
  background-color: #dedede;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  /* limit window size: */
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
h1 {
	display: block;
	text-align: center;
	margin: auto;
	padding-left: -1.5vw;
	font-size: 40vw;
	font-family: system-ui, sans-serif;
	font-weight: 100;
  letter-spacing: -1.7vw;
  color: #2f2e2e;
}
#btn {
	background-color: #3897f0;
	font-family: system-ui, sans-serif;
	font-weight: 700;
	border: none;
	color: white;
	padding: 1rem 2.5rem;
  /* margin: 40vh auto; */
	text-decoration: none;
	width: 28vw;
	display: block;
	border-radius: 0.25rem;
	font-size: 2.5vw;
	cursor: pointer;
  text-align: center;
	transition: transform 0.1s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	z-index: 30;
	position: absolute;
}
#btn.hover {
	background-color: #0030ff;
	color: white;
}
